* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    }
body {
        font-family: "Montserrat";
        background: #000915;
      }
.top__center {
    height: 1024px;
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 217px;

}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF; 
    margin-bottom: 32px;
  }
.top__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    max-width: 481px;
    color: #FFFFFF;
  }

.form_button {
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
background: #9C0332;
border-radius: 30px;
width: 234.06px;
height: 48.6px;
border: 1px solid  #9C0332;
margin-top: 44px;
transition: all 1s;
}
.form_button:hover {
 background: #EB443F; 
}
.game__box {
background: #000915;
min-height: 556px;
display: grid;
gap: 32px;
grid-template-columns: repeat(auto-fill, minmax(378px, 1fr));
padding-top: 128px;
}
.game__box-img {
   height: 300px;
   font-weight: 600;
   font-size: 24px;
   line-height: 32px;
   color: #FFFFFF;
   display: flex;
   align-items: end;
   padding: 32px;
   border-radius: 16px;
  
}
.game__box-img_1 {
    background-image: url(img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.game__box-img_1:hover {
    text-decoration: underline;
    color: #FFFFFF;
}
.game__box-img_2 {
    background-image: url(img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.game__box-img_2:hover {
    text-decoration: underline;
    color: #FFFFFF;
}
.game__box-img_3 {
    background-image: url(img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}
.game__box-img_3:hover {
    text-decoration: underline;
    color: #FFFFFF;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #000915;
    padding-top: 233px;
    padding-bottom: 233px;
    gap: 135px;
}

.top__content_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 32px;

}
.top__content_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 584px;
}
.form_button_two {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background: #9C0332;
    border-radius: 30px;
    width: 234.06px;
    height: 48.6px;
    border: 1px solid  #9C0332;
    margin-top: 32px;
    transition: all 1s;
}
.form_button_two:hover {
    background: #EB443F; 
   }
.content__img {
    background-image: url(img/img6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 485px;
    height: 333px;
}
.content__two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #000915;
    padding-top: 239px;
    padding-bottom: 239px;
    gap: 135px;
}
.content__img_two {
    background-image: url(img/img8.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 481px;
    height: 322px;
}
@import 'mobile';